<!-- Extends ke layout.html -->
{% extends 'layout.html' %}
<!-- Block title untuk penamaan judul halaman -->
{% block title %} Home {% endblock %}
<!-- Block content untuk konten body halaman -->
{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <!-- Pengecekan session -->
                <!-- <b>Home page</b> -->
                {% if session['name'] %}
                <p style="font-weight: bold; color: black;">Welcome, {{ session['name'] }}<p>
                <h1 style="color: black;">Traffic Density Classification</h1>
                {% else %}
                <p style="color: black;">You are not login, click <a href="/login"> HERE </a> to Log In</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}