{% extends "base.html" %} {% block content %}

<style>
    p {text-align: justify;}
</style>

<div style="display:flex; flex-direction:column; justify-content:center; align-items: center;">
    <h2>Traffic Density Classification</h2>

    <p>This project is <mark> web application version</mark> of my undergraduate research titled Traffic Density Classification Based on Texture Descriptor. Instead of using four texture descriptors which are RGB, grayscale, image gradient, and local binary pattern, the texture descriptor used in this project is only local binary pattern.

        <br>This web application was built with mainly Python (Flask and Keras Tensorflow), CSS, and HTML. There are a lot of things that can be fixed and improved from this web application.
    </p>
    <a href="{{ url_for('image_predict') }}" class="btn btn-primary btn-block" role="button">Image Prediction</a>
    <a href="#" class="btn btn-warning btn-block" role="button">Video File Prediction</a>
    <a href="{{ url_for('video_streaming') }}" class="btn btn-info btn-block" role="button">Video Streaming Prediction</a>
 
</div>

{% endblock %}