{% extends 'layout.html' %}
{% block title %} Traffic Image File {% endblock %}
{% block content %}
<link href="static/css/main.css" rel="stylesheet"/>
<div style="display:flex; flex-direction:column; justify-content:center; align-items: center;">

    <h4>Pilih Citra CCTV</h3>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Select Image
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div style="display:flex; flex-direction:column; justify-content:center; align-items: center;">
            <button type="button" class="btn btn-primary " id="btn-predict">Predict</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>

    <h3 id="result">
        <span> </span>
    </h3>

</div>
<script src="/static/js/main.js"></script>
{% endblock %}