{% extends 'layout.html' %}
{% block title %} Traffic Video File {% endblock %}
{% block content %}

<div id="page-wrapper">
    <div class="container-fluid" style="display:flex; flex-direction:column; justify-content:center; align-items: center;">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <div class="row" style="background-color:darkgray">
                    <h4 style="font-weight: bold;">&nbsp;&nbsp;&nbsp;Video File</h4>
                </div>
                <div class="row" style="background-color: lightgray;">
                    <br>
                    <form action="/traffic-video" method="POST" enctype="multipart/form-data">
                        <div class="form-group col-md-6">
                            <label>Select Video</label>
                            <select name="file_type" class="form-control">
                                <option value=""> ---- </option>
                                <option value="Video" onclick="javascript:enablefile()">Video File</option>
                                <!-- <option value="Link" onclick="javascript:enableurl()">Link URL</option> -->
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Input Video</label>
                            <div style="display: none;" id="urlvideo">
                                <div class="form-group">
                                    <input type="text" name="videolink" class="form-control"
                                        placeholder="Input link URL" id="inputurl">
                                </div>
                            </div>
                            <div style="display: none;" id="filevideo">
                                <div class="form-group">
                                    <input type="file" class="custom-file-input" name="video" id="inputvideo">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-success">Start Video</button>
                            <input type="button" class="btn btn-danger" value="Stop Video">
                        </div>
                    </form>
                </div>
                {% if filename %}
                <div class="row">
                    <br>
                    <img id="bg" class="center" src="{{ url_for('video_file_feed', filename=filename) }}">
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
    function enablefile() {
        var x = document.getElementById("filevideo");
        x.style.display = "block";
        var xx = document.getElementById("inputvideo");
        xx.disabled = false;
        var y = document.getElementById("urlvideo");
        y.style.display = "none";
        var yy = document.getElementById("inputurl");
        yy.disabled = true;
    }
    // function enableurl() {
    //     var x = document.getElementById("filevideo");
    //     x.style.display = "none";
    //     var xx = document.getElementById("inputvideo");
    //     xx.disabled = true;
    //     var y = document.getElementById("urlvideo");
    //     y.style.display = "block";
    //     var yy = document.getElementById("inputurl");
    //     yy.disabled = false;
    // }
</script>
{% endblock %}